.bg-green {
  color: rgb(11, 96, 72) !important;
  background: rgba(11, 96, 72, 0.3);
}

.bg-orange {
  color: rgb(252, 135, 102) !important;
  background: rgba(252, 135, 102, 0.3);
}

.bg-purple {
  color: rgb(57, 66, 121) !important;
  background: rgba(57, 66, 121, 0.3);
}

.rounded {
  border-radius: 5px !important;
}

.iconFormat {
  height: 20px;
  width: 20px;
}

.topbar {
  background-color: blue;
  height: 75px;
  width: max;
}

.logo {
  height: 80%;
  margin: auto;
  display: block;
  padding-top: 5px;
}
